@import url(navigation.css);

/* CSS &amp; XHTML by David McDonald */

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 1em 0.4em 0 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    min-width: 54em;
    text-align: center;
}

#centre{
    position: relative;
    width: 54em;
    text-align: left;
    margin: 0 auto 0 auto;
}

span{
    position: absolute;
    left: -1500px;
    /*width: 990px;*/
}

/* header area */

#header h1 a{
    float: left;
    display: block;
    width: 211px;
    height: 61px;
}

#header p{
    text-align: right;
    font-size: 0.7em;
}

/* main containers */

#container{
    clear: both;
    width: 54em;
    text-align: left;
    margin: 0.2em auto 0 auto;
}

/* global styles */

a:link, a:visited{
    color: #c30;
}

a img{
    border: none;
}

ul#breadcrumb{
    float: left;
    width: 50em;
    margin: 0.5em 0 0 0.1em;
}

ul#breadcrumb li{
    float: left;
    list-style: none;
    font-size: 0.75em;
    color: #5C91A4;
    margin-right: 0.5em;
}

ul#breadcrumb li a{
    float: left;
    display: block;
    padding: 0 0.5em 0 0.5em;
    text-decoration: none;
}

ul#breadcrumb li a:hover{
    text-decoration: underline;
}

#container p, #container li, #container dl{
    font-size: 0.8em;
}

#container p{
    margin-top: 1em;
}

#container ul, #container ol{
    margin: 0.7em 0 0.7em 1.4em;
}

#container ul li{
    list-style: url(/bbContentRepository/static/images/home/bulletPoint.gif);
    margin-bottom: 0.4em;
}

#container ol li{
    margin-bottom: 0.4em;
}

p.returntotop{
    clear: both;
    display: block;
}

p.returntotop a{
    width: 7em;
    padding-right: 1em;
    display: block;
}

/* shareprice, shareholder services etc styles */

iframe{
    width: 190px;
    height: 200px;
    margin-bottom: 1em;
}

#columnc h4{
    padding: 0.3em 1em 0.3em 0.4em;
    font-size: 0.9em;
    color: #fff;
    background-color: #5C91A4 !important;
}

#columnc p{
    margin-top: 0.6em;
}

#shareholders, #businessportal, #oursites, #subscription, .genslot{
    margin: 1em 0 1em 0;
    padding-bottom: 1em;
}

#columna iframe{
    width: 99.8%;
    margin-top: 1em;
    padding-bottom: 1em;
}

.genslot h4{
    padding-left: 0.4em;
    border: 1px solid #fff;
}

form#search{
    float: right;
    width: 15em;
    margin-bottom: 1em;
}

form#search input{
    float: left;
    margin-top: 0.1em;
}

form#search input.button{
    float: right;
}

form#search p{
    text-align: left;
}

form{
    margin-top: 0.5em;
}

form fieldset{
    border: none;
}

form fieldset label{
    margin-top: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
}

#oursites select, #businessportal select{
    font-size: 0.8em;
}

form input.button{
    float: right;
    width: auto;
    margin-top: 0.3em;
}

/* subscription form */

#subscription fieldset input#userEmail{
    width: 98%;
}

/* footer */

ul#footer{
    float: left;
    width: 97.7%;
    background: #e85100;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.6em;
}

ul#footer li{
    float: left;
    list-style: none;
}

ul#footer li a{
    display: block;
    padding: 0 1em 0 1em;
    font-size: 0.75em;
    color: #fff;
    border-right: 1px solid #fff;
    text-decoration: none;
}

ul#footer li a:hover{
    text-decoration: underline;
}

/* from old global.css */

select{
    font-size: 0.9em;
}

.linkiconleft{
    margin-top: 5px;
}

.linkiconright{
    margin-left: 5px;
}

.mandatory{
    color: #c30;
}

form fieldset select{
    width: 100%;
    margin-top: 0.3em;
}
