@import url(global.css);

#containera{
    float: left;
    width: 39.0em;
}

#container{
    position: static;
}

/* main columns */

#columna{
    float: left;
    clear: left;
    width: 22.8em;
    margin-top: 1em;
}

#columnb{
    width: 14.8em;
    margin-left: 22.9em !important;
    margin-left: 22em;
    background: #D1D1C6;
}

#columnc{
    float: left;
    width: 13.25em;
    padding: 0.8em 0.8em 0 0.9em;
    background: #EDEDE7;
    margin-top: 1em;
}

/* containera styles */

#containera h2{
    width: 542px;
    height: 145px;
    border-bottom: 3px solid #fff;
}

#containera h3{
    margin-bottom: 0.5em;
    font-size: 1.05em;
    color: #E85100;
}

/* add gjh 9/1/06 */
#containera p{
    font-size: 0.8em;
    padding-right: 0.8em;
    padding-left: 0px;
    text-align: left;
}

#containera blockquote{
    float: left;
    width: 19.8em;
    color: #fff;
    background: #91A207;
    padding: 0em 1.5em 0.5em 1.3em;
    margin-right: 0.8em;
}

#containera blockquote p{
    font-size: 1.1em;
    font-weight: bold;
}

#containera blockquote a{
    color: #fff;
}

/* Global Ops &amp; Our Business styles */

#globalops{
    float: left;
    width: 10.2em;
    padding-right: 1em;
}

#ourbus{
    float: left;
    width: 10.5em;
    padding-left: 0.3em;
}

#columna img{
    border: 3px solid #D1D1C6;
}

p.more a{
    padding-right: 2em;
}

/* In Focus styles and News styles */

#infocus, #news{
    padding: 0.8em 0.9em 0.5em 0.9em;
    border-bottom: 3px solid #fff;
}

#infocus h3{
    font-size: 1.3em;
    font-weight: normal;
}

#news h3{
    margin-bottom: -0.6em;
}

#columnb dl{
    margin-top: 0.8em;
}

#columnb #news dl{
    padding: 0.5em 0 1em 0;
    border-bottom: 1px solid #fff;
}

#columnb dt{
    font-weight: bold;
}

#columnb dt.date{
    color: #3D7C93;
}

#columnb dd{
    margin-top: 0.35em;
}

#columnb dd li, #columnb dd p.more{
    font-size: 1em
}

#columnb img{
    border: 3px solid #fff;
}

#columnb #news img{
    float: left;
    width: auto;
    margin: 0.2em 0.8em 0.2em 0;
}

/* added gjh 8/29/06 */
/* indent */
#indent {
    margin-left: 1.5em;
}

#tm {
    float: right;
    margin-top: 1em;
    width: 13.25em;
}
