/* first level nav */

ul.mb {
    float: left;
    list-style: none;
    width: 99.9%;
    background: #E85100;
    position: relative;
    z-index: 3;
}

ul.mb li {
    float: left;
    display: block;
    list-style: none;
    background: #E85100 url(/images/navigation/navBorder.gif) repeat-y right;
}

/* first level nav links */

/* added gjh 8/30/06 */
ul.mb li a{
    display: block;
    width: 8.5em;
    padding: 0.5em 0.5em 0.5em 1.0em;
    color: #fff;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
}

ul.mb li a:link, ul.mb li a:visited{
    display: block;
    width: 7.5em;
    padding: 0.5em 0.5em 0.5em 0.8em;
    color: #fff;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
}

ul.mb li a:hover{
    background: #c30;
    color: #fff;
}

/* deprecated. gjh 8/30/06
ul.mb li a:active, ul.mb a.visible{
    background: #c30;
    color: #fff;
}
*/

/* div for positioning second level nav */

ul.mb li div {
    position: relative;
}

/* second level nav */

ul.mb ul {
    position: absolute;
    top: 2.7em;
    left: -0.1em;
    width: 9.5em;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

ul.mb ul li {
    position: relative;
    display: block;
}

ul.mb ul>li {
    display: block;
    /* required for opera: */
    float: none;
}

/* separator */

ul.mb ul li.separator{
    background: #c30;
    border-bottom: 1px solid #aaa;
}

/* second level nav links */

ul.mb ul li a:link, ul.mb ul li a:visited{
    display: block;
    width: 92% !important;
    padding: 0.4em 0 0.4em 1em;
    font-weight: normal;
    background: #E85100;
    color: #fff;
}

ul.mb ul li a:hover{
    color: #f93;
    background: #c30;
}

body#bodyaboutus ul.mb a#aboutus:visited,
body#bodydevelopercorner ul.mb a#developercorner:visited,
body#bodyusercorner ul.mb a#usercorner:visited,
body#bodyaboutnumturbsim ul.mb a#aboutnumturbsim:visited,
body#bodycontactus ul.mb a#contactus:visited
{
    background: #c30 !important;
}

/* second level nav arrow */

ul.mb ul li a.hidden{
    display: block;
    width: 92% !important;
    background: url(/images/navigation/iconMenuArrowWhite.gif) no-repeat right !important;
}

ul.mb ul li a.visible:visited,
ul.mb ul li a.visible:hover,
ul.mb ul li a.visible:active,
ul.mb ul li a.visible{
    display: block;
    width: 92% !important;
    background: #c30 url(/images/navigation/iconMenuArrowWhite.gif) no-repeat right;
}

/* third level nav */

ul.mb ul ul {
    top: 0 !important;
    left: 9.5em;
    border: 1px solid #fff;
}

/* fourth level nav */

#fourthlevelnav{
    margin: 0 0 10px 0;
}

#fourthlevelnav h1{
    color:#c30;
    font-size:1.2em;
    font-weight:bold;
    margin-bottom: 4px;
    background: transparent;
}

#fourthlevelnav ul{
    margin: 0 !important;
    padding: 2px 0 4px 20px;
    border: 1px solid #cc9;
    background: #fafaea;
}

#fourthlevelnav li{
    border: none;
    list-style: none outside url(/images/navigation/iconMenuArrowRed.gif)!important;
}

#fourthlevelnav ul li ul{
    border: none;
    width: 165px;
}

#fourthlevelnav a{
    display: block;
    padding: 3px 0 3px 0;
    width: 100%;
    color: #515151;
    font-weight: normal;
}

#fourthlevelnav a:hover{
    color: #c30;
}
