<ul id="menu">
  <li><a href="main.jsp" id="home">Home<br/>
&nbsp;</a></li>

  <li><a id="aboutus">About<br/>qiWorkbench&#153;&nbsp;&nbsp;</a>
    <ul id="mnu100">
      <li><a href="status.jsp"> Current Status </a></li>
      <li><a href="aims.jsp">Project Aims</a></li>
      <li><a href="people.jsp">People</a></li>
    </ul>
  </li>

  <li><a id="usercorner">User's <br/>Corner</a>
    <ul id="mnu101">
      <li><a href="https://bitbucket.org/glinsky/qiworkbench/issues">Report a Bug</a></li>
      <li><a href="userResources.jsp">Install / Update</a></li>
      <li><a href="userdocs.jsp">Documentation</a></li>
      <li><a href="wiki.jsp">Wiki</a></li>
    </ul>
  </li>

  <li><a id="developercorner">Developer's <br/>Corner</a>
    <ul id="mnu102">
      <li><a href="devResources.jsp">Resources / Download</a></li>
      <li><a href="devdocs.jsp">Documentation</a></li>
      <li><a href="wiki.jsp">Wiki</a></li>
    </ul>
  </li>

  <li><a id="aboutnumturbsim">About<br/>qiTurbSim&#153;&nbsp;&nbsp;</a>
    <ul id="mnu103">
      <li><a href="ntsInfo.jsp">General Information</a></li>
      <li><a href="ntsResources.jsp">Download / Update</a></li>
    </ul>
  </li>

  <li><a href="mailto:info@qiworkbench.biz" id="contactus">Contact Us<br/>
&nbsp;</a></li>
</ul>

<script type="text/javascript">
    document.getElementById('menu').style.display = 'none';
</script>
