<ul id="footer">
  <li><a href="mailto:info@qiworkbench.biz"><font color="#ffffff" size="-1"><b>Feedback</b></font></a></li>
  <li><a href="https://bitbucket.org/glinsky/qiworkbench/issues"><font color="#ffffff" size="-1"><b>Bugs</b></font></a></li>
</ul>
