/*  STYLESHEET PROPERTIES FOR IE BROWSER */


/*============================================================================= 
    HEADER ELEMENTS:
      - Used for items such as FAQs | SITE INDEX | HELP
      - "Search" label
===============================================================================*/
.identifier	          { font-size:12px; color:#666666; font-weight:bold; }
a.topnav_svc:link     { font-size:11px; color:#666666; text-decoration:none; }
a.topnav_svc:visited  { font-size:11px; color:#666666; text-decoration:none; }
a.topnav_svc:hover    { font-size:11px; color:#666666; text-decoration:underline; }
a.topnav_svc:active   { font-size:11px; color:#666666; text-decoration:none; }
/* END */



/*============================================================================= 
    NAVIGATION:
      - Used for the 1st level navigation (top navigation in blue)
      - Used for the 2nd level navigation (top navigation in grey)
      - Used for the 3rd level navigation (left-hand side navigation)
      - Used for the 4th level navigation (left-hand side navigation)
===============================================================================*/
a.tool:link       { font-size:11px; color:#666666; text-decoration:none; }
a.tool:visited    { font-size:11px; color:#666666; text-decoration:none; }
a.tool:hover      { font-size:11px; color:#666666; text-decoration:underline !important; }
a.tool:active     { font-size:11px; color:#666666; text-decoration:none; }
/* END */



/*============================================================================= 
    BODY / CONTENT ELEMENTS:
      - Font size attributes for the main content
      - Used for items for the main content areas
      - Used for items for error message (alertlargebody)
===============================================================================*/
body, td                { font-size:11px; font-family:arial,helvetica,sans-serif; }

.dotted_hr {
	background-image : url(../images/hr_bg_dotted.gif);
	background-repeat : repeat-x;
}

.alertlargebody         { font-size:12px; color:#ff0000; }
.alertlargebodybold     { font-size:12px; color:#ff0000; font-weight:bold; }

.errormsg         { font-size:11px; color:#ff0000; }
.errormsgbold     { font-size:11px; color:#ff0000; font-weight:bold; }

.heading0               {	font-size:22px; color:#000000; font-weight:bold; }
.heading1               {	font-size:16px; color:#000000; font-weight:bold; }
.heading2               { font-size:12px; color:#000000; font-weight:bold; }

.listheader1          { font-size:12px; color:#ffffff; font-weight:bold;}
.listheader2          { font-size:11px; color:#ffffff;}

.largebody              { font-size:12px; font-style:normal; }
.largebody_bold  { font-size:12px; font-weight:bold; font-style:normal;	}

.multipagenav { font-size:11px; color:#999999;}

a.download:link       { font-size:11px; color:#FF6600; text-decoration:underline; }
a.download:visited    { font-size:11px; color:#FF6600; text-decoration:underline; }
a.download:hover      { font-size:11px; color:#FF6600; text-decoration:none !important; }
a.download:active     { font-size:11px; color:#FF6600; text-decoration:underline; }

/*
a.columnheading:link    { color:#0033CC; text-decoration:none; }
a.columnheading:visited { color:#0033CC; text-decoration:none; }
a.columnheading:hover   { color:#0033CC; text-decoration:none; }
a.columnheading:active  { color:#0033CC; text-decoration:none; }
*/
/* END */



/*============================================================================= 
    SIDEBAR:
      - Used for elements in the sidebar area
===============================================================================*/
.sidebar_heading1 { font-size:12px; color:#666666; font-weight:bold; }
.sidebar_heading2 { font-size:11px; color:#666666; font-weight:bold; }
.sidebar_copy     { font-size:11px; color:#666666; }
/* END */



/*============================================================================= 
    FORMS:
      - Used for the form elements
===============================================================================*/
input.searchfield { font-size:11px; width:100px; }
.datefield        { font-size:11px; width:70px; }
.login  	      { font-size:11px; width:150px; }
.pword	    	  { font-size:11px; width:150px; }
.select           { font-size:11px; width:177px; }
.select_sb        { font-size:11px; width:120px; }
.text	            { font-size:11px; width:170px; }
.text_td	        { font-size:11px; }
.text_td_bold	     {font-size:11px;font-weight: bold;}
.text_sb	        { font-size:11px; width:120px }
.text_sml	        { font-size:11px; width:110px }
.textarea         { font-family:arial,helvetica,sans-serif; font-size:11px; width:170px; }
.upload	    	  {font-size:11px; width:450px; }
/* END */


/*============================================================================= 
    W START:
      - Used for TDs that starts with W, so it does not chop the left tip
===============================================================================*/
#wstart { padding-left: 1px; }
/* END */

/*============================================================================= 
    Table Indent:
      - Used for TDs that needs a little spacing on left side of the text
===============================================================================*/
#cellstart { padding-left: 4px; }
/* END */
