/*  STYLESHEET PROPERTIES FOR BOTH BROWSERS (IE and NS) */

/*============================================================================= 
    NAVIGATION:
      - Used for the 1st level navigation (top navigation in blue)
      - Used for the 2nd level navigation (top navigation in grey)
      - Used for the 3rd level navigation (left-hand side navigation)
      - Used for the 4th level navigation (left-hand side navigation)
===============================================================================*/
body            {background-color:#ffffff;}
a:link            { color:#0033CC; text-decoration:underline; }
a:visited         { color:#0033CC; text-decoration:underline; }
a:hover           { text-decoration:underline ! important; }
a:active          { text-decoration:underline; }

a.navi1:link      { font-size:12px; color:#ffffff; text-decoration:none; font-weight:bold; }
a.navi1:visited   { font-size:12px; color:#ffffff; text-decoration:none; font-weight:bold; }
a.navi1:hover     { font-size:12px; color:#ffffff; text-decoration:underline !important; }
a.navi1:active    { font-size:12px; color:#ffffff; text-decoration:none; font-weight:bold; }

a.navi2:link      { font-size:12px; color:#000000; text-decoration:none; font-weight:bold; } 
a.navi2:visited   { font-size:12px; color:#000000; text-decoration:none; font-weight:bold; } 
a.navi2:hover     { font-size:12px; color:#000000; text-decoration:underline !important; font-weight:bold; } 
a.navi2:active    { font-size:12px; color:#000000; text-decoration:none; font-weight:bold; }

a.subnav:link     { color:#0033CC; text-decoration:none; }
a.subnav:visited  { color:#0033CC; text-decoration:none; }
a.subnav:hover    { text-decoration:underline !important; }
a.subnav:active   { text-decoration:none; }
/* END */



/*============================================================================= 
    BODY / CONTENT ELEMENTS:
      - Font size attributes for the main content
        section should be resizable by the user
        (via browser control)
      - Used for items for the main content areas
      - Used for items for error message (alertlargebody)
===============================================================================*/
form                    { margin:0px; }
.page_heading           { font-size:24px; color:#000000; font-weight:bold; }

a.bodylink:link         { color:#0033CC; text-decoration:none; }
a.bodylink:visited      { color:#990099; text-decoration:none; }
a.bodylink:hover        { text-decoration:underline !important; }
a.bodylink:active       { text-decoration:none; }

td.table_header           { border-bottom:1px solid #999999; }

.promo_bg_img       {background-image : url(../images/promo_bg.gif);background-repeat : repeat-y;}
.promo_bg       {background-color : #e6e6e6;}

/*
a.columnheading:link    { color:#0033CC; text-decoration:none; }
a.columnheading:visited { color:#0033CC; text-decoration:none; }
a.columnheading:hover   { color:#0033CC; text-decoration:none; }
a.columnheading:active  { color:#0033CC; text-decoration:none; }
*/
/* END */


/*============================================================================= 
    COLORS:
      - Used to change the color of elements
      - Only the color attribute is specified
===============================================================================*/
.black      { color:#000000; }
.blue       { color:#0033CC; }
.green      { color:#009933; }
.grey       { color:#666666; }
.red        { color:#FF0000; }

.bg_black       { background-color:#000000; }
.bg_orange       {background-color:#BF5120; }
.bg_green       { background-color:#009933; }
.bg_grey_light  { background-color:#cccccc;}
tr.bg_white { background-color:#ffffff; padding : 4px 0px 4px 0px;}
tr.bg_white_no_pad  { background-color:#ffffff;}
tr.bg_grey_light2   {background-color:#e4e4e4;padding : 4px 0px 4px 0px;}
tr.bg_grey_light2_no_pad    {background-color:#e4e4e4;}
tr.bg_status    {background-color:#E5F2CC;padding : 4px 0px 4px 0px;}

.bg_grey       { background-color:#666666; }
.bg_grey_drk       { background-color:#999999; }
.bg_red        { background-color:#FF0000; }


.light      { color:#999999; }
.lightbold  { color:#999999; font-weight:bold; }
.dark       { color:#666666; }
.darkbold   { color:#666666; font-weight:bold; }
/* END */



/*============================================================================= 
    COPYRIGHT:
      - Used for the footer elements
===============================================================================*/
.copy { font-size:10px;  color:#999999; }
/* END */
